.App {
    font-family: sans-serif;
    text-align: center;
   
   
  }
  h2{
      font-size: large;
      color: #007979;
      text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
               0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
               0 0 40px #A5F1FF;
               font-family: sans-serif;
               letter-spacing: 5px;
  }
  p{
    font-size: large;
    
  }
  
  h1{
    font-size: large;
    color: #007979;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
             font-family: sans-serif;
             letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
         

}